<a href="https://colab.research.google.com/github/tevindonte/Candy-Sentinel-Analysis/blob/master/Stats_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import matplotlib.pylab as py
from sklearn.datasets import load_files
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pylab as plt
from mpl_toolkits.mplot3d import Axes3D
from matplotlib.colors import ListedColormap
import seaborn as sns
import datetime
import scipy.stats as stats
from google.colab import files

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
cd /content/drive/MyDrive/

/content/drive/MyDrive

In [5]:
original = pd.read_csv('/content/drive/MyDrive/Tuition.csv', low_memory=False)

In [6]:
original

,Academic Year,TAP College Code,Federal School Code,TAP College Name,Sector Type,TAP Sector Group,TAP Recipient Headcount,TAP Recipient FTEs,TAP Recipient Dollars
0,2020,10,2666,ADELPHI UNIVERSITY 4 YR UNDERGRAD,PRIVATE,5-INDEPENDENT,1343,1247.89,3827369
1,2020,2000,2860,ADIRONDACK COMMUNITY COLLEGE,PUBLIC,4-SUNY CC,603,459.94,1247648
2,2020,995,2885,ALBANY COLLEGE OF PHARMACY 4YR UG,PRIVATE,5-INDEPENDENT,163,162.45,449133
3,2020,20,2668,ALFRED UNIVERSITY 4YR UNDERGRAD,PRIVATE,5-INDEPENDENT,442,395.17,1217828
4,2020,7952,10813,AMERICAN ACADEMY MCALLISTER INST.,PRIVATE,6-BUS. DEGREE,36,27.32,80168
...,...,...,...,...,...,...,...,...,...
7960,2000,7895,7405,WOOD TOBE-COBURN SCHOOL,PRIVATE,6-BUS. DEGREE,427,358.50,1400240
7961,2000,5155,9895,YESHIVA UNIV EINSTEIN COL MED,PRIVATE,5-INDEPENDENT,73,72.50,29704
7962,2000,1085,2903,YESHIVA UNIVERSITY,PRIVATE,5-INDEPENDENT,352,333.50,889816
7963,2000,5151,9895,YESHIVA UNIV GRAD/PROFESSIONAL,PRIVATE,5-INDEPENDENT,135,121.00,46716
7964,2000,5180,9895,YESHIVA UNIV-WURZWEILER (BLOCK),PRIVATE,5-INDEPENDENT,2,1.33,100

In [7]:
#Chapter 6
#Calculate the proportion of schools that had over 500 TAP recipients and test whether there is a significant difference between the proportion of public vs. private schools that had over 500 TAP recipients.

In [8]:
original.columns

Index(['Academic Year', 'TAP College Code', 'Federal School Code',
       'TAP College Name ', 'Sector Type', 'TAP Sector Group',
       'TAP Recipient Headcount', 'TAP Recipient FTEs',
       'TAP Recipient Dollars'],
      dtype='object')

In [9]:
original = original.rename(columns={'TAP College Name ': 'TAP College Name'})

# Chapter 5 & 6

In [10]:
original['TAP College Name'].duplicated().sum()

7390

In [11]:
dupedrop = original.drop_duplicates(subset='TAP College Name', keep='first')

In [12]:
dupedrop

,Academic Year,TAP College Code,Federal School Code,TAP College Name,Sector Type,TAP Sector Group,TAP Recipient Headcount,TAP Recipient FTEs,TAP Recipient Dollars
0,2020,10,2666,ADELPHI UNIVERSITY 4 YR UNDERGRAD,PRIVATE,5-INDEPENDENT,1343,1247.89,3827369
1,2020,2000,2860,ADIRONDACK COMMUNITY COLLEGE,PUBLIC,4-SUNY CC,603,459.94,1247648
2,2020,995,2885,ALBANY COLLEGE OF PHARMACY 4YR UG,PRIVATE,5-INDEPENDENT,163,162.45,449133
3,2020,20,2668,ALFRED UNIVERSITY 4YR UNDERGRAD,PRIVATE,5-INDEPENDENT,442,395.17,1217828
4,2020,7952,10813,AMERICAN ACADEMY MCALLISTER INST.,PRIVATE,6-BUS. DEGREE,36,27.32,80168
...,...,...,...,...,...,...,...,...,...
7722,2000,2305,1505,LYNN UNIVERSITY-OLD FORGE COLLEGE,PRIVATE,5-INDEPENDENT,2,1.00,2040
7742,2000,1645,11860,MERCY HOSPITAL SCH OF RADIOGRAPHY,PRIVATE,8-OTHER,1,1.00,2850
7754,2000,1677,11437,MONTEFIORE HOSP-RADIATION THERAPY,PRIVATE,8-OTHER,4,4.00,8950
7760,2000,7869,998900,MUNICIPAL TRAINING CENTER,PRIVATE,7-BUS. NON-DEG,123,106.83,405424
7944,2000,1625,5072,UNITED HOSP SCH RADIOLOGIC TECH,PRIVATE,8-OTHER,4,3.50,7471

In [14]:
dupedrop['Over 500'] = dupedrop['TAP Recipient Headcount'] > 500

<ipython-input-14-0fa7441e2e01>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dupedrop['Over 500'] = dupedrop['TAP Recipient Headcount'] > 500

In [15]:
proportion_500 = dupedrop['Over 500'].mean()

In [16]:
print('Proportion of schools with over 500 TAP recipients:', proportion_500)

Proportion of schools with over 500 TAP recipients: 0.20173913043478262

In [17]:
public = dupedrop[dupedrop['Sector Type'] == 'PUBLIC']
private = dupedrop[dupedrop['Sector Type'] == 'PRIVATE']

In [18]:
public_over_500 = public['Over 500'].mean()
private_over_500 = private['Over 500'].mean()

In [19]:
n1 = len(public)
n2 = len(private)
p1 = public_over_500
p2 = private_over_500

In [20]:
pooled_p = (public['Over 500'].sum() + private['Over 500'].sum()) / (n1 + n2)

In [21]:
standard_error = np.sqrt(pooled_p * (1 - pooled_p) * (1/n1 + 1/n2))

In [22]:
test_statistic = (p1 - p2) / standard_error

In [23]:
p_value = stats.norm.sf(abs(test_statistic)) * 2

In [24]:
print('p-value for the test:', p_value)

p-value for the test: 1.527766820830469e-25

In [25]:
#There is a significant difference between the proportion of public vs. private schools that had over 500 TAP recipients.

In [26]:
# Create a two-way table for TAP recipient headcount by sector type and TAP sector group
table_headcount = pd.pivot_table(original, values='TAP Recipient Headcount', index='Sector Type', columns='TAP Sector Group', aggfunc=np.sum, fill_value=0)
print("Table comparing TAP recipient headcount by sector type and TAP sector group:")
print(table_headcount)

# Create a two-way table for TAP recipient dollars by sector type and TAP sector group
table_dollars = pd.pivot_table(original, values='TAP Recipient Dollars', index='Sector Type', columns='TAP Sector Group', aggfunc=np.sum, fill_value=0)
print("Table comparing TAP recipient dollars by sector type and TAP sector group:")
print(table_dollars)

# Perform chi-square test for TAP recipient headcount
chi2_headcount, p_headcount, dof_headcount, expected_headcount = stats.chi2_contingency(table_headcount)
print("Chi-square statistic for TAP recipient headcount:", chi2_headcount)
print("p-value for TAP recipient headcount:", p_headcount)

# Perform chi-square test for TAP recipient dollars
chi2_dollars, p_dollars, dof_dollars, expected_dollars = stats.chi2_contingency(table_dollars)
print("Chi-square statistic for TAP recipient dollars:", chi2_dollars)
print("p-value for TAP recipient dollars:", p_dollars)

Table comparing TAP recipient headcount by sector type and TAP sector group:
TAP Sector Group  1-CUNY SR  2-CUNY CC  3-SUNY SO  4-SUNY CC  5-INDEPENDENT  \
Sector Type
PRIVATE                   0          0          0          0        1889260
PUBLIC              1267202     690273    1638744    1374271              0

TAP Sector Group  6-BUS. DEGREE  7-BUS. NON-DEG  8-OTHER  9-CHAPTER XXII
Sector Type
PRIVATE                  648252           55007     9010           57704
PUBLIC                        0               0        0               0
Table comparing TAP recipient dollars by sector type and TAP sector group:
TAP Sector Group   1-CUNY SR   2-CUNY CC   3-SUNY SO   4-SUNY CC  \
Sector Type
PRIVATE                    0           0           0           0
PUBLIC            3349656585  1412863366  3613800278  2276140581

TAP Sector Group  5-INDEPENDENT  6-BUS. DEGREE  7-BUS. NON-DEG   8-OTHER  \
Sector Type
PRIVATE              4745715065     1941502001       188103535  16791678
PUBLIC                        0              0               0         0

TAP Sector Group  9-CHAPTER XXII
Sector Type
PRIVATE                249670421
PUBLIC                         0
Chi-square statistic for TAP recipient headcount: 7629723.000000002
p-value for TAP recipient headcount: 0.0
Chi-square statistic for TAP recipient dollars: 17794243510.000004
p-value for TAP recipient dollars: 0.0

In [27]:
#There is a significant association between TAP recipient headcount/dollars and sector type as well as TAP sector group.
#This means that the distribution of TAP recipients and TAP recipient dollars is not equal across sector types and sector groups.

In [28]:
#There are significant differences in the number of TAP recipients and the amount of TAP funds they receive depending on the
#type of institution and sector group they belong to. This implies that TAP funds are not being distributed equally across 
#all institutions and sector groups.

# Chapter 7

In [29]:
# Calculate the mean, median, and mode for TAP recipient dollars
tap_dollars_mean = np.mean(original['TAP Recipient Dollars'])
tap_dollars_median = np.median(original['TAP Recipient Dollars'])
tap_dollars_mode = original['TAP Recipient Dollars'].mode()[0]

In [30]:
# Calculate the mean, median, and mode for TAP recipient headcount
tap_headcount_mean = np.mean(original['TAP Recipient Headcount'])
tap_headcount_median = np.median(original['TAP Recipient Headcount'])
tap_headcount_mode = original['TAP Recipient Headcount'].mode()[0]

In [31]:
print("TAP Recipient Dollars: Mean = {:.2f}, Median = {:.2f}, Mode = {}".format(tap_dollars_mean, tap_dollars_median, tap_dollars_mode))
print("TAP Recipient Headcount: Mean = {:.2f}, Median = {:.2f}, Mode = {}".format(tap_headcount_mean, tap_headcount_median, tap_headcount_mode))

TAP Recipient Dollars: Mean = 2234054.43, Median = 711288.00, Mode = 275
TAP Recipient Headcount: Mean = 957.91, Median = 270.00, Mode = 3

In [32]:
from scipy.stats import ttest_rel, ttest_1samp